body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff; 
    color: #000000; 
}
header, footer {
    background-color: #6DA676; 
    color: #ffffff; 
    padding: 20px;
    text-align: left;
}
nav {
    background-color: #6DA676; 
    color: #ffffff; 
    text-align: center;
    padding: 10px 0;
}
nav a {
    color: #ffffff; 
    text-decoration: none;
    margin: 0 20px;
}
nav a:hover {
    text-decoration: underline;
}
.container {
    margin: 20px;
}
.hero {
    display: flex;
    align-items: center;
    margin-top: 50px;
}
.hero img {
    width: 200px; 
    height: auto;
    border: 5px solid #6DA676;
    border-radius: 50%; 
    margin-right: 20px;
}
.hero p {
    flex: 1;
}
.skills {
    margin-top: 50px;
}
.skills-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.skills-row p {
    flex: 0 1 calc(33.33% - 10px); 
    background-color: #f0f0f0; 
    padding: 20px;
    border-radius: 5px;
}